@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* give to prev, next, number button */
.margin-side{
    margin-left: 2%;
    margin-right: 2%;
}

.text-in-button{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}


/* give to nav bar */
.stay-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 135px;
    width: 100%;
}

/* give to prev, next button */
.prev-button, .next-button{
    border-radius: 25px;
    border: 2px solid;
    padding: 15px;
    width: 8%;
    height: 3%;
    background-color: #3888ff;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.prev-button:hover{
    transform: translateX(-5px);
}

.next-button:hover{
    transform: translateX(5px);
}

/* give to number button */
.circle-button{
    border: 1px solid transparent;
    border-radius: 50%;
    background: #b2bac8;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.active{
    background-color: #3888ff;
}

.disable{
    background-color: #b2bac8;
}


/*////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 500px){
    .circle-button{
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: 0 1px 5px rgb(1 1 1 / 10%);
        background:#b2bac8;
        color: white;
        cursor: pointer;
        width: 20px;
        height: 25px;
        font-size: 8px;
    }
    .active{
        background-color: #3888ff;
    }
    
    .disable{
        background-color: #b2bac8;
    }

    .prev-button, .next-button{
        display: none;
    }
    .margin-side{
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
}


@media only screen and (min-width: 500px) and (max-width: 768px){
    .circle-button{
        border-radius: 50%;
        border: 1px solid transparent;
        box-shadow: 0 1px 5px rgb(1 1 1 / 10%);
        background:#b2bac8;
        color: white;
        cursor: pointer;
        width: 30px;
        height: 35px;
    }
    .active{
        background-color: #3888ff;
    }
    
    .disable{
        background-color: #b2bac8;
    }

    .prev-button, .next-button{
        display: none;
    }

    .margin-side{
        margin-left: 1%;
        margin-right: 1%;
    }
}